<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%if (locals.rTitle & locals.rDescription) { %>
    <h1>Eroare la stergere</h1>
    <% } else { %>
    <h1>Stergere complete</h1>
    <% } %>
    <button><a href="/">Inapoi la pagina principala</a></button>
  </body>
</html>
